@charset "UTF-8";

.pace .pace-progress-inner {
  box-shadow: none;
}

.page-header {
  box-shadow: none;
  .page-header-top .top-menu .navbar-nav > li.dropdown-tasks .dropdown-menu .dropdown-menu-list > li .progress .progress-bar {
    box-shadow: none;
  }
}

#table_wait {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media print {
  .page-container {
    padding: 0 !important;
    margin: 0 !important;
    .page-content {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
  body {
    background-color: #fff !important;
  }
  .hidden-print, .page-breadcrumb, .page-footer, .page-head, .page-header, .page-prefooter, .theme-panel {
    display: none;
  }
  .no-page-break {
    page-break-after: avoid;
  }
  .page-container .page-content > {
    .container {
      width: 100%;
      max-width: none !important;
      margin: 0 !important;
    }
    .container-fluid > .portlet, .container > .portlet {
      padding: 0;
      margin: 0;
      > .portlet-body {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.page-header {
  opacity: 1;
  filter: alpha(opacity = 100);
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  height: 126px;
  background-image: none;
  &:after, &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  .container, .container-fluid {
    position: relative;
  }
  &.navbar-fixed-top, &.navbar-static-top {
    z-index: 9995;
  }
  .page-header-top {
    &.fixed {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9995;
    }
    .page-logo {
      float: left;
      display: block;
      width: 255px;
      height: 75px;
      position: absolute;
    }
    .top-menu {
      margin: 13px 0 0;
      padding: 0;
      float: right;
      .navbar-nav {
        padding: 0;
        margin-right: 0;
        display: block;
        > li {
          &.dropdown {
            margin: 0;
            padding: 0 4px;
            height: 50px;
            display: inline-block;
            > {
              .dropdown-toggle {
                margin: 0 0 0 1px;
                padding: 17px 10px 8px;
                &:last-child {
                  padding-right: 0;
                }
                > {
                  i {
                    font-size: 19px;
                    &.glyphicon {
                      font-size: 18px;
                    }
                  }
                  .badge {
                    font-family: "Open Sans",sans-serif;
                    position: absolute;
                    top: 9px;
                    right: 24px;
                    font-weight: 300;
                    padding: 3px 6px;
                  }
                }
                &:focus {
                  background: 0 0;
                }
              }
              .dropdown-menu {
                z-index: 9996;
                margin-top: 5px;
                margin-right: 7px;
                font-family: "Open Sans",sans-serif;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
                &:before {
                  position: absolute;
                  top: -8px;
                  right: 9px;
                  display: inline-block !important;
                  border-right: 8px solid transparent;
                  border-bottom: 8px solid #efefef;
                  border-left: 8px solid transparent;
                  content: '';
                }
                &:after {
                  position: absolute;
                  top: -7px;
                  right: 10px;
                  display: inline-block !important;
                  border-right: 7px solid transparent;
                  border-bottom: 7px solid #fff;
                  border-left: 7px solid transparent;
                  content: '';
                }
              }
            }
          }
          &.dropdown-separator {
            padding-left: 0;
            padding-right: 6px;
            .separator {
              float: left;
              display: inline-block;
              width: 1px;
              height: 18px;
              margin-left: 5px;
              margin-top: 17px;
            }
          }
          &.dropdown-extended .dropdown-menu {
            min-width: 160px;
            max-width: 300px;
            width: 300px;
            z-index: 9996;
            > li.external {
              display: block;
              overflow: hidden;
              padding: 15px;
              letter-spacing: .5px;
              -webkit-border-radius: 4px 4px 0 0;
              -moz-border-radius: 4px 4px 0 0;
              -ms-border-radius: 4px 4px 0 0;
              -o-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
              > {
                h3 {
                  margin: 0;
                  padding: 0;
                  float: left;
                  font-size: 13px;
                  display: inline-block;
                }
                a {
                  display: inline-block;
                  padding: 0;
                  background: 0 0;
                  clear: inherit;
                  font-size: 12px;
                  font-weight: 400;
                  position: absolute;
                  right: 10px;
                  border: 0;
                  margin-top: -2px;
                }
              }
            }
          }
        }
      }
    }
  }
  .page-header-menu .hor-menu .navbar-nav {
    position: static;
    > li.mega-menu-dropdown {
      position: static;
    }
  }
  .page-header-top .top-menu .navbar-nav > li {
    &.dropdown-extended .dropdown-menu {
      > li.external > a:hover {
        text-decoration: none;
      }
      .dropdown-menu-list {
        padding-right: 0 !important;
        padding-left: 0;
        list-style: none;
        > li {
          > a {
            display: block;
            clear: both;
            font-weight: 300;
            line-height: 20px;
            white-space: normal;
            font-size: 13px;
            padding: 16px 15px 18px;
            text-shadow: none;
            &:hover {
              opacity: 1;
              filter: alpha(opacity = 100);
              text-decoration: none;
            }
          }
          &:first-child a {
            border-top: none;
          }
        }
      }
    }
    &.dropdown-notification .dropdown-menu .dropdown-menu-list > li a {
      .details {
        overflow: hidden;
        .label-icon {
          margin-right: 10px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
          i {
            margin-right: 2px;
            margin-left: 1px;
          }
          .badge {
            right: 15px;
          }
        }
      }
      .time {
        float: right;
        max-width: 75px;
        font-size: 11px;
        font-weight: 400;
        opacity: .7;
        filter: alpha(opacity = 70);
        text-align: right;
        padding: 1px 5px;
      }
    }
    &.dropdown-inbox > {
      .dropdown-toggle {
        padding: 17px 0 8px 8px;
        > {
          .circle {
            float: left;
            margin-top: -5px;
            padding: 3px 10px 4px;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            -ms-border-radius: 50% !important;
            -o-border-radius: 50% !important;
            border-radius: 50% !important;
            font-family: "Open Sans",sans-serif;
            font-weight: 300;
          }
          .corner {
            float: left;
            margin-left: -4px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 0 9px 9px;
            &:not(:root:root) {
              margin-left: -5px;
            }
          }
        }
      }
      .dropdown-menu .dropdown-menu-list > li {
        .photo {
          float: left;
          margin: 0 6px 6px 0;
          img {
            height: 40px;
            width: 40px;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            -ms-border-radius: 50% !important;
            -o-border-radius: 50% !important;
            border-radius: 50% !important;
          }
        }
        a:hover {
          text-decoration: none;
        }
        .subject {
          display: block;
          margin-left: 46px;
          .from {
            font-size: 14px;
            font-weight: 600;
          }
          .time {
            font-size: 12px;
            font-weight: 400;
            opacity: .5;
            filter: alpha(opacity = 50);
            float: right;
          }
        }
        .message {
          display: block !important;
          font-size: 12px;
          line-height: 1.3;
          margin-left: 46px;
        }
      }
    }
    &.dropdown-tasks .dropdown-menu .dropdown-menu-list > li {
      .task {
        margin-bottom: 5px;
        .desc {
          font-size: 13px;
          font-weight: 300;
        }
        .percent {
          color: #36c6d3;
          float: right;
          font-weight: 600;
          display: inline-block;
        }
      }
      .progress {
        display: block;
        height: 8px;
        margin: 8px 0 2px;
      }
    }
    &.dropdown-user {
      .dropdown-toggle {
        padding: 12px 0 7px;
        > {
          img {
            margin-top: -8px;
            margin-right: 8px;
            height: 40px;
            float: left;
          }
          .username {
            float: left;
            font-size: 400px;
            font-size: 14px;
            margin-top: 4px;
            margin-right: 2px;
          }
          i {
            float: left;
            font-size: 14px;
            margin-top: 7px;
          }
        }
      }
      .dropdown-menu {
        width: 210px;
        > li > a {
          font-weight: 300;
          font-size: 13px;
          i {
            width: 15px;
            display: inline-block;
            margin-right: 9px;
          }
          .badge {
            margin-right: 10px;
          }
        }
      }
    }
    &.quick-sidebar-toggler {
      cursor: pointer;
      padding: 17px 10px 8px;
      > i {
        color: #c1ccd1;
        font-size: 19px;
        &:before {
          content: "";
        }
      }
    }
  }
}

.page-quick-sidebar-open .page-header .page-header-top .top-menu .navbar-nav > li.quick-sidebar-toggler > i:before {
  content: "";
}

.page-header {
  .page-header-top {
    .top-menu .navbar-nav {
      > li {
        &.quick-sidebar-toggler > i:hover {
          color: #a4b4bb;
        }
        &.dropdown-language {
          padding-left: 0;
          padding-right: 0;
          margin: 0;
          > {
            .dropdown-toggle {
              padding: 16px 10px 9px 2px;
              > {
                img {
                  margin-bottom: 2px;
                }
                i {
                  font-size: 14px;
                }
              }
            }
            .dropdown-menu > li > a {
              font-size: 13px;
              > img {
                margin-bottom: 2px;
                margin-right: 5px;
              }
            }
          }
        }
      }
      li.dropdown-dark .dropdown-menu {
        border: 0;
        &:before {
          border-left: none;
          border-right: none;
        }
        .dropdown-menu-list > li.external a {
          background: 0 0 !important;
          border: none !important;
        }
      }
    }
    .menu-toggler {
      float: right;
      display: none;
      margin: 23px 3px 0 0;
      opacity: .7;
      &:hover {
        opacity: 1;
        filter: alpha(opacity = 100);
      }
    }
  }
  .page-header-menu {
    display: block;
    height: 51px;
    clear: both;
    .hor-menu {
      margin: 0;
      float: right;
      .navbar-nav {
        &.navbar-right .dropdown-menu {
          left: auto;
          right: 0;
        }
        > li {
          &.mega-menu-dropdown {
            > .dropdown-menu {
              left: auto;
              width: auto;
              .mega-menu-content {
                font-family: "Open Sans",sans-serif;
                padding: 15px;
                margin: 0;
                &.mega-menu-responsive-content {
                  padding: 10px 18px 10px 45px;
                }
                .mega-menu-submenu {
                  padding: 0;
                  margin: 0;
                  &:last-child {
                    border-right: 0;
                  }
                  li {
                    padding: 1px !important;
                    margin: 0 !important;
                    list-style: none;
                    > {
                      h3 {
                        margin-top: 5px;
                        padding-left: 5px;
                        font-size: 15px;
                        font-weight: 400;
                      }
                      a {
                        display: block;
                        white-space: normal;
                        font-family: "Open Sans",sans-serif;
                        padding: 7px;
                        margin: 0;
                        font-size: 14px;
                        font-weight: 300;
                        &:focus, &:hover {
                          text-decoration: none;
                        }
                        &.iconify {
                          padding: 7px 7px 7px 30px;
                          > i {
                            position: absolute;
                            top: auto !important;
                            margin-left: -24px;
                            font-size: 15px;
                            margin-top: 3px !important;
                          }
                        }
                        .badge, .label {
                          margin-left: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
            &.mega-menu-full .dropdown-menu {
              left: 15px;
              right: 15px;
            }
          }
          &.menu-dropdown .dropdown-menu {
            &:after, &:before {
              display: none !important;
            }
          }
          > a {
            font-size: 14px;
            font-weight: 400;
            padding: 16px 18px 15px;
            &:focus {
              background: 0 0 !important;
            }
          }
          &.active .selected, &.current .selected {
            left: 50%;
            bottom: 0;
            position: absolute;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-top: 6px solid transparent;
            display: inline-block;
            margin: 0 0 -6px -7px;
            width: 0;
            height: 0;
          }
          .dropdown-menu {
            margin-top: 0;
            border: none;
            li > a {
              font-family: "Open Sans",sans-serif;
              font-size: 14px;
              font-weight: 300;
              padding: 10px 12px;
              white-space: normal;
              .badge, .label {
                font-weight: 300;
              }
            }
          }
          &.classic-menu-dropdown .dropdown-menu {
            min-width: 195px;
            max-width: 235px;
          }
          .dropdown-submenu > {
            .dropdown-menu {
              top: 0;
            }
            a:after {
              top: 9px;
              right: 10px;
            }
          }
        }
      }
    }
  }
}

.search-form {
  position: relative;
  display: inline-block;
  float: right;
  width: 400px;
  transition: width .4s;
  margin-top: 8px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  .input-group {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    .form-control {
      font-size: 13px;
      padding-right: 20px;
      font-weight: 300;
      &:hover {
        cursor: pointer;
      }
    }
    .input-group-btn .btn.submit {
      padding: 0;
      height: 34px;
      z-index: 3;
      position: relative;
      top: 10px;
      right: 11px;
      > i {
        font-size: 15px;
      }
    }
  }
  &.open {
    width: 500px !important;
    transition: width .4s;
    .input-group {
      .form-control {
        text-indent: 0;
        &:hover {
          cursor: text;
        }
      }
      .input-group-btn .btn.submit {
        margin-left: 0;
      }
    }
  }
}

@media (min-width: 992px) {
  .page-header .page-header-menu {
    &.fixed {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9995;
    }
    .hor-menu .navbar-nav > li.menu-dropdown:hover > .dropdown-menu {
      display: block;
    }
    .container-fluid .navbar-nav > li.mega-menu-dropdown.mega-menu-full .dropdown-menu {
      left: 60px;
      right: 60px;
    }
  }
}

@media (max-width: 991px) {
  .page-header {
    padding: 0;
    clear: both;
    height: auto;
    .page-header-top {
      height: auto;
      > .container {
        width: 100%;
        max-width: none !important;
        margin: 0 !important;
      }
      .page-logo {
        width: auto;
        padding: 0;
        margin-right: 10px;
        margin-left: 4px;
      }
      .top-menu .navbar-nav {
        display: inline-block;
        margin: 0 10px 0 0;
        > li {
          float: left;
        }
      }
      .menu-toggler {
        display: block;
      }
    }
    .page-header-menu {
      background: #eff3f8;
      padding: 20px 0 0;
      height: auto;
      display: none;
      > .container {
        width: 100%;
        max-width: none !important;
        margin: 0 !important;
      }
      .hor-menu {
        float: none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        .navbar-nav {
          float: none;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border-radius: 4px;
          li {
            > a > .arrow:after {
              position: absolute;
              display: inline-block;
              font-size: 14px;
              right: 15px;
              top: 11px;
              font-family: FontAwesome;
              height: auto;
              content: "\f104";
              font-weight: 300;
            }
            &.opened > a > .arrow:after {
              content: "\f107";
              right: 12px;
            }
          }
          .dropdown-submenu > a:after {
            display: none !important;
          }
          > li {
            float: none;
            > a {
              padding: 10px;
              .fa-angle-down {
                float: right;
                &:before {
                  content: "\f104";
                }
              }
            }
            &:first-child > a {
              -webkit-border-radius: 4px 4px 0 0;
              -moz-border-radius: 4px 4px 0 0;
              -ms-border-radius: 4px 4px 0 0;
              -o-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
            }
            &:last-child > a {
              -webkit-border-radius: 0 0 4px 4px;
              -moz-border-radius: 0 0 4px 4px;
              -ms-border-radius: 0 0 4px 4px;
              -o-border-radius: 0 0 4px 4px;
              border-radius: 0 0 4px 4px;
            }
            &.open > a .fa-angle-down:before {
              content: "\f107";
            }
          }
          .dropdown-menu {
            position: static;
            float: none !important;
            width: auto;
            background: #fff;
            display: none;
          }
          li {
            &.classic-menu-dropdown {
              .dropdown-menu > li.dropdown-submenu.open > .dropdown-menu, li.opened > .dropdown-menu, &.opened > .dropdown-menu {
                display: block;
              }
            }
            &.mega-menu-dropdown {
              &.opened > .dropdown-menu {
                display: block;
                width: 100%;
                min-width: inherit !important;
              }
              > .dropdown-menu .mega-menu-content {
                padding-top: 0;
              }
            }
            &.classic-menu-dropdown {
              > .dropdown-menu > li > {
                a {
                  padding-left: 20px;
                }
                .dropdown-menu > li > {
                  a {
                    padding-left: 40px;
                  }
                  .dropdown-menu > li > a {
                    padding-left: 60px;
                  }
                }
              }
              .dropdown-menu {
                max-width: none;
                width: auto;
                > li {
                  &.divider {
                    background: 0 0;
                    margin: 5px 12px;
                  }
                  &.dropdown-submenu {
                    > a:after {
                      content: "\f104";
                      font-size: 14px;
                      margin-right: 7px;
                    }
                    &.open > a:after {
                      content: "\f107";
                      margin-right: 5px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .search-form {
        float: none !important;
        width: auto;
        margin: 0 0 20px;
        &.open {
          width: auto !important;
        }
        .input-group {
          .form-control {
            height: 38px;
            &:hover {
              cursor: text;
            }
          }
          .input-group-btn .btn.submit {
            height: 38px;
            width: 44px;
            top: 0;
            right: 0;
            i {
              position: relative;
              top: 13px;
            }
          }
        }
      }
    }
  }
}

.breadcrumb .fa, .page-head .container {
  position: relative;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media:hover, .scroll-to-top:hover, .theme-panel .theme-colors > li.theme-color:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .page-header .page-header-top {
    .page-logo {
      width: auto !important;
    }
    .top-menu {
      display: block;
      &:after, &:before {
        content: " ";
        display: table;
      }
      &:after {
        clear: both;
      }
      .navbar-nav {
        margin-right: 0;
        > li {
          &.dropdown > .dropdown-toggle {
            padding: 17px 6px 8px;
            > .badge {
              right: 18px;
            }
          }
          &.dropdown-extended {
            > .dropdown-menu {
              max-width: 255px;
              width: 255px;
            }
            &.dropdown-notification > .dropdown-menu {
              margin-right: -160px;
              &:after, &:before {
                margin-right: 160px;
              }
            }
            &.dropdown-inbox {
              margin-right: 0;
              padding-right: 2px;
              > {
                .dropdown-menu {
                  margin-right: -40px;
                  &:after, &:before {
                    margin-right: 40px;
                  }
                }
                .dropdown-toggle {
                  padding: 17px 0 8px 2px;
                }
              }
            }
            &.dropdown-tasks > .dropdown-menu {
              margin-right: -115px;
              &:after, &:before {
                margin-right: 115px;
              }
            }
          }
          &.dropdown.dropdown-language > {
            .dropdown-menu {
              margin-right: -20px;
              &:after, &:before {
                margin-right: 20px;
              }
            }
            .dropdown-toggle {
              padding: 16px 6px 9px 2px;
            }
          }
        }
      }
      width: 100%;
    }
  }
}

.pace .pace-progress {
  z-index: 10000;
  top: 126px !important;
  height: 3px !important;
}

.page-wrapper {
  height: 100%;
  .page-wrapper-row.full-height {
    height: 100%;
  }
}

body, html {
  height: 100%;
}

.pace .pace-activity {
  top: 128px;
  right: 22px;
  border-radius: 10px !important;
}

@media (max-width: 480px) {
  .page-header .page-header-top .top-menu {
    display: block;
    clear: both;
    margin-top: -10px;
    &:after, &:before {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
    .username-hide-mobile {
      display: none;
    }
    margin: 33px 3px 0 0;
  }
}

body, html {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: table;
  width: 100%;
  table-layout: fixed;
  .page-wrapper-row {
    width: 100%;
    display: table-row;
  }
  .page-wrapper-bottom, .page-wrapper-top {
    width: 100%;
    display: table-cell;
  }
  .page-wrapper-middle {
    width: 100%;
    display: table-cell;
    height: 100%;
  }
}

.page-container {
  clear: both;
}

.page-head {
  background: #fff;
  .page-title {
    display: inline-block;
    float: left;
    padding: 19px 0;
    > h1 {
      color: #697882;
      font-size: 22px;
      font-weight: 400;
      margin: 0;
      > small {
        color: #9eacb4;
        font-size: 13px;
        font-weight: 400;
      }
    }
  }
  .page-toolbar {
    display: inline-block;
    float: right;
  }
}

.breadcrumb {
  background: 0 0;
  padding: 0 0 15px;
  margin: 0;
  color: #a7b2c0;
  > li + li:before {
    display: none;
  }
  .fa {
    font-size: 6px;
    margin: 0 2px 0 4px;
    top: -1px;
  }
  > .active {
    color: #9eacb4;
  }
}

.page-content {
  padding: 15px 0;
}

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 991px) {
  .page-content > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
  .page-head {
    > .container {
      width: 100%;
      max-width: none !important;
      margin: 0 !important;
    }
    background: #EFF3F8;
  }
  .page-content {
    padding-top: 0;
  }
}

.portlet .portlet-input .form-control {
  background: #F1F3F8;
  border-radius: 0 !important;
  border-color: #F1F3F8;
  &:focus {
    border-color: #cfd6e7;
  }
}

.page-prefooter {
  padding: 30px 0;
  clear: both;
  h2 {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0 12px;
  }
  .subscribe-form {
    padding-top: 5px;
    .form-control {
      font-size: 12px;
      padding: 0 14px;
      height: 36px;
    }
    .btn {
      height: 34px;
      text-transform: uppercase;
      padding: 7px 16px;
    }
  }
  .social-icons {
    padding-top: 9px;
    li {
      opacity: .35;
      filter: alpha(opacity = 35);
      &:hover {
        opacity: 1;
        filter: alpha(opacity = 100);
      }
    }
  }
  address, p {
    margin: 0;
  }
}

.page-footer {
  font-size: 13px;
  font-weight: 300;
  padding: 17px 0;
  a {
    color: #e6e6e6;
    &:hover {
      color: #f2f2f2;
    }
  }
}

@media (max-width: 991px) {
  .page-prefooter {
    padding-bottom: 10px;
    .footer-block {
      margin-bottom: 20px;
    }
  }
  .page-footer > .container, .page-prefooter > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
}

.scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 10001;
  bottom: 5px;
  display: none;
  right: 20px;
  > i {
    display: inline-block;
    font-size: 32px;
    opacity: .7;
    filter: alpha(opacity = 70);
  }
  &:hover > i {
    opacity: 1;
    filter: alpha(opacity = 100);
  }
}

@media (max-width: 991px) {
  .scroll-to-top {
    right: 10px;
    > i {
      font-size: 28px;
    }
  }
}

.btn-theme-panel {
  margin-top: 25px;
  .btn {
    opacity: .6;
    filter: alpha(opacity = 60);
    padding: 0 6px;
    > i {
      font-size: 24px;
      color: #acbac6;
    }
    &:hover {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
  }
  &.open .btn {
    opacity: 1;
    filter: alpha(opacity = 100);
  }
}

.theme-panel {
  z-index: 1000;
  min-width: 675px;
  padding: 20px 10px;
  font-family: "Open Sans",sans-serif;
  h3 {
    margin: 8px 0;
    font-size: 15px;
    padding-left: 12px;
  }
  .seperator {
    border-left: 1px solid #EFF2F4;
  }
  .theme-colors {
    list-style: none;
    padding: 0;
    margin: 0;
    > li.theme-color {
      padding: 8px 12px;
      &.active, &:hover {
        background: #f5f7f8;
      }
      > {
        .theme-color-view {
          float: left;
          margin-top: 0;
          margin-right: 8px;
          display: inline-block;
          border-radius: 10px !important;
          height: 20px;
          width: 20px;
        }
        .theme-color-name {
          display: inline-block;
          color: #777;
          font-size: 14px;
          font-weight: 300;
        }
      }
      &.theme-color-default .theme-color-view {
        background: #32c5d2;
      }
      &.theme-color-red-sunglo .theme-color-view {
        background: #E26A6A;
      }
      &.theme-color-red-intense .theme-color-view {
        background: #E35B5A;
      }
      &.theme-color-blue-hoki .theme-color-view {
        background: #67809F;
      }
      &.theme-color-blue-steel .theme-color-view {
        background: #4B77BE;
      }
      &.theme-color-green-haze .theme-color-view {
        background: #44B6AE;
      }
      &.theme-color-purple-plum .theme-color-view {
        background: #8775A7;
      }
      &.theme-color-purple-studio .theme-color-view {
        background: #8E44AD;
      }
      &.theme-color-yellow-orange .theme-color-view {
        background: #F2784B;
      }
      &.theme-color-yellow-crusta .theme-color-view {
        background: #F3C200;
      }
    }
  }
  .theme-settings {
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 300;
      color: #777;
      .form-control {
        color: #777;
        margin-top: -3px;
        float: right;
      }
    }
  }
}

@media (max-width: 767px) {
  .theme-panel {
    left: 20px;
    right: 20px;
    min-width: 285px;
    .seperator {
      border: 0;
    }
    .theme-settings .form-control {
      width: 105px !important;
    }
  }
}

.page-portlet-fullscreen {
  .page-quick-sidebar-toggler, .page-quick-sidebar-wrapper {
    z-index: -1;
  }
}

.page-quick-sidebar-toggler {
  overflow: hidden;
  z-index: 99999;
  display: none;
  width: 28px;
  height: 27px;
  position: fixed;
  top: 10px;
  right: 15px;
  text-align: center;
  padding-top: 6px;
  &:hover {
    background: #303a43;
  }
}

.page-quick-sidebar-open .page-quick-sidebar-toggler {
  display: inline-block;
  &:hover {
    background: 0 0;
  }
}

.page-quick-sidebar-toggler > i {
  color: #99a8b5;
  font-size: 17px;
  &:hover {
    color: #fff !important;
  }
}

.page-quick-sidebar-open .page-quick-sidebar-toggler > i:before {
  content: "";
}

.page-quick-sidebar-wrapper {
  transition: right .3s;
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 320px;
  right: -320px;
  overflow: hidden;
  color: #99a8b5;
  background: #21282e;
}

.page-quick-sidebar-open .page-quick-sidebar-wrapper {
  transition: right .3s;
  right: 0;
}

.page-quick-sidebar-wrapper .page-quick-sidebar {
  background: #21282e;
  .nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
    > li {
      display: table-cell !important;
      width: 1% !important;
      padding: 0;
      margin: 0;
      float: none;
      > a {
        position: relative;
        display: block;
        text-align: center;
        height: auto;
        font-size: 14px;
        padding: 45px 15px 8px;
        text-transform: uppercase;
        background: 0 0;
        margin-right: 0;
        color: #90a1af;
        border: 0;
        border-bottom: 3px solid rgba(243, 86, 93, 0.3);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        outline: 0 !important;
        > .badge {
          position: absolute;
          top: 45px;
          right: 3px;
        }
      }
      &.active > a, &:hover > a {
        border: 0;
        border-bottom: 3px solid #f3565d;
        background: 0 0;
        color: #fff;
        text-decoration: none;
      }
      .dropdown-menu {
        border: 0;
        background: #36424c;
        box-shadow: 5px 5px rgba(97, 117, 135, 0.1);
        margin-top: 8px;
        margin-right: 20px;
        &:before {
          position: absolute;
          top: -7px;
          right: 19px;
          display: inline-block !important;
          border-right: 7px solid transparent;
          border-left: 7px solid transparent;
          border-bottom: 7px solid #36424c;
          content: '';
        }
        &:after {
          position: absolute;
          top: -6px;
          right: 20px;
          display: inline-block !important;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent;
          border-bottom: 7px solid #36424c;
          content: '';
        }
        > li {
          > a {
            padding: 10px 15px;
            color: #99a8b5;
            > i {
              color: #93a3b1;
            }
          }
          &:hover > a {
            background: #3d4a55;
            color: #99a8b5;
            > i {
              color: #9babb8;
            }
          }
          &.active > a {
            background: #38444f;
            color: #99a8b5;
          }
          &.divider {
            background-color: #3d4a55;
          }
        }
      }
      &.open > a.dropdown-toggle {
        border-bottom: 3px solid #f3565d;
        background: 0 0;
        text-decoration: none;
        color: #90a1af;
      }
    }
  }
  .tab-content {
    margin: 0;
    padding: 0;
  }
  .list-heading {
    font-size: 16px;
    margin: 10px;
    color: #6c8296;
  }
  .list-items {
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin: 0;
      padding: 15px;
      background: 0 0;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: #273037;
      &:hover {
        background: #273037;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
    &.borderless li {
      border: 0;
    }
  }
  .inner-content {
    margin: 10px;
  }
  .page-quick-sidebar-list {
    position: absolute !important;
    width: 320px !important;
    transition: margin .3s;
  }
  .page-quick-sidebar-item {
    position: absolute !important;
    width: 320px !important;
    transition: margin .3s;
    margin-left: 320px;
    .page-quick-sidebar-nav {
      padding: 15px 10px 0;
      .page-quick-sidebar-back-to-list {
        vertical-align: middle;
        display: inline-block;
        font-size: 14px;
        color: #90a1af;
        &:hover {
          text-decoration: none;
        }
        > i {
          font-size: 17px;
          line-height: 17px;
          vertical-align: top;
          margin-right: 3px;
        }
      }
    }
  }
  .page-quick-sidebar-content-item-shown {
    .page-quick-sidebar-list {
      transition: margin .3s;
      margin-left: -320px;
      .slimScrollBar, .slimScrollRail {
        display: none !important;
      }
    }
    .page-quick-sidebar-item {
      transition: margin .3s;
      margin-left: 0;
    }
  }
  .page-quick-sidebar-chat {
    .page-quick-sidebar-chat-users {
      padding: 10px 0;
      position: relative;
      .media-list .media {
        padding: 15px;
        .media-object {
          border-radius: 50% !important;
          width: 45.71px;
          opacity: .8;
          filter: alpha(opacity = 80);
          float: left;
          margin-right: 10px;
          &:after, &:before {
            content: " ";
            display: table;
          }
          &:after {
            clear: both;
          }
        }
        &:hover .media-object {
          opacity: 1;
          filter: alpha(opacity = 100);
        }
        .media-body {
          .media-heading {
            margin: 5px 0 0;
            font-size: 14px;
          }
          .media-heading-sub {
            font-size: 11px;
            text-transform: uppercase;
            color: #657b8d;
          }
          .media-heading-small {
            font-size: 10px;
            color: #5d7081;
          }
        }
        .media-status {
          margin-top: 10px;
          right: 10px;
          position: absolute;
          display: inline-block;
        }
      }
    }
    .page-quick-sidebar-chat-user {
      .page-quick-sidebar-chat-user-messages {
        padding: 0 10px;
        position: relative;
        .post {
          transition: display .3s;
          padding: 5px 0;
          margin: 10px auto;
          font-size: 13px;
          .body {
            color: #c3c3c3;
            display: block;
          }
          .avatar {
            width: 45.71px;
            border-radius: 50% !important;
          }
          &.in .avatar {
            float: left;
            margin-right: 10px;
          }
          &.out .avatar {
            float: right;
            margin-left: 10px;
          }
          .datetime, .name {
            font-size: 12px;
            font-weight: 300;
            color: #8496a7;
          }
          .message {
            display: block;
            padding: 5px;
            position: relative;
            color: #90a1af;
            background: #36424c;
          }
          &.in .message {
            text-align: left;
            margin-left: 55px;
            .arrow {
              display: block;
              position: absolute;
              top: 9px;
              left: -6px;
              width: 0;
              height: 0;
              border-top: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-right-width: 6px;
              border-right-style: solid;
              border-right-color: #36424c;
            }
          }
          &.out {
            .message {
              margin-right: 55px;
              text-align: right;
              .arrow {
                display: block;
                position: absolute;
                top: 9px;
                right: -6px;
                border-top: 6px solid transparent;
                border-bottom: 6px solid transparent;
                border-left-width: 6px;
                border-left-style: solid;
                border-left-color: #36424c;
              }
            }
            .datetime, .name {
              text-align: right;
            }
          }
        }
      }
      .page-quick-sidebar-chat-user-form {
        padding: 20px 10px 15px;
      }
    }
  }
  .page-quick-sidebar-alerts .page-quick-sidebar-alerts-list {
    padding: 10px 0;
    position: relative;
    .feeds li a {
      color: #7e91a2;
      .label {
        margin-top: 5px;
      }
      .desc {
        text-decoration: underline;
        padding: 0;
        color: #788c9e;
      }
      .date {
        color: #5d7081;
      }
    }
  }
  .page-quick-sidebar-settings .page-quick-sidebar-settings-list {
    padding: 10px 0;
    position: relative;
    .list-items li {
      .bootstrap-switch {
        margin-top: -3px;
        float: right;
        border: 0;
        min-width: 59px;
      }
      .form-control {
        width: 75px !important;
        padding: 4px !important;
        float: right;
        border: 0;
        margin-top: -4px;
      }
      select.form-control {
        padding: 4px 0 !important;
      }
    }
  }
}

.page-on-load {
  background: #fefefe;
  .page-container, .page-footer, .page-header, .page-prefooter, > .clearfix {
    display: none;
    transition: all 2s;
  }
}
