<simple-summary-stats></simple-summary-stats>
<!-- site-notes></site-notes -->
<!-- summary-stats></summary-stats -->

<div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="fas fa-cubes font-green-title"></i>
                    <span class="caption-subject bold uppercase">Blocks</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-med" ng-click="reloadBlocks()"><i class="fa fa-refresh"
                                                                            ng-class="{'fa-spin': blockLoading}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="width: 100%">
                <div>
                    <div class="tableHeader">
                        <div class="tableHeaderElement" style="width: 20%">
                            <span opacity="1">Height</span></div>
                        <div class="tableHeaderElement" style="width: 34%">
                            <span opacity="1">Mined</span></div>
                        <div class="tableHeaderElement" style="width: 45%">
                            <span opacity="1">Miner</span></div>
                    </div>
                    <div ng-repeat="t in latest_blocks track by $index" class="table-item">
                        <div class="table-item-element" style="width: 20%">
                            <span><a
                                    href="/block/{{t.number}}">{{t.number}}</a></span></div>
                        <div class="table-item-element" style="width: 34%">
                            <span>{{t.timestamp | timeDuration }} ago</span></div>
                        <div class="table-item-element" style="width: 45%">
                            <span><a href="/addr/{{t.miner}}"
                                     class="link-orange">{{t.extraData}}<span
                                    ng-if="!t.extraData">{{t.miner}}</span></a></span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="fal fa-money-check-edit font-green-title"></i>
                    <span class="caption-subject bold uppercase">Transactions</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-med" ng-click="reloadTransactions()"><i class="fa fa-refresh"
                                                                                  ng-class="{'fa-spin': txLoading}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="width: 100%">
                <div>
                    <div class="tableHeader">
                        <div class="tableHeaderElement" style="width: 55%">
                            <span opacity="1">Hash</span></div>
                        <div class="tableHeaderElement" style="width: 20%">
                            <span opacity="1">Time</span></div>
                        <div class="tableHeaderElement" style="width: 25%">
                            <span opacity="1">Amount (CLO)</span></div>
                    </div>
                    <div ng-repeat="t in latest_txs track by $index" class="table-item">
                        <div class="table-item-element" style="width: 55%">
                            <span class="truncate-txhash">
                                <a href="/tx/{{t.hash}}" class="link-orange">{{t.hash}}</a>
                            </span>
                        </div>
                        <div class="table-item-element" style="width: 20%">
                            <span>{{t.timestamp | date: 'H:mm:ss' }}</span>
                        </div>
                        <div class="table-item-element" style="width: 25%;align-items: flex-end;">
                            <span>{{t.value | number: 3}} {{settings.symbol}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
    </div>

    <div class="col-md-12 col-sm-12">
        * Last 600,000 blocks </br>
        ** Last 6,640 blocks
    </div>
