<simple-summary-stats></simple-summary-stats>
<!-- site-notes></site-notes -->
<!-- summary-stats></summary-stats -->

<div class="row">
    <div class="col-md-6 col-sm-6">
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="fas fa-cubes font-green-title"></i>
                    <span class="caption-subject bold uppercase">Blocks</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-med" ng-click="reloadBlocks()"><i class="fa fa-refresh" ng-class="{'fa-spin': blockLoading}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="todo-tasklist scrollable">
                    <div ng-repeat="t in latest_blocks track by $index" class="todo-tasklist-item row" ng-class="(t.extraData.indexOf('Parity') > -1) ? 'item-border-red': '';(t.extraData.indexOf('Pool') > -1) ? 'item-border-blue': ''">
                        <!--TODO: color by known miners -->
                        <div class="col-sm-3">
                            <span class="todo-tasklist-item-title"><i class="fa fa-cube"></i> <a href="/block/{{t.number}}">{{t.number}}</a></span><br>
                            <span class="todo-tasklist-date">
                                <i class="fa fa-hourglass-o"></i>{{t.timestamp | timeDuration }} ago</span>
                        </div>
                        <div class="col-sm-7">
                            <div><span class="todo-tasklist-item-title">Mined by</span> <a href="/addr/{{t.miner}}" class="link-orange">{{t.extraData}}<span ng-if="!t.extraData">{{t.miner}}</span></span></a><br>
                            {{t.txn}} txns
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-6" >
        <!-- BEGIN PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="fal fa-money-check-edit font-green-title"></i>
                    <span class="caption-subject bold uppercase">Transactions</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-med" ng-click="reloadTransactions()"><i class="fa fa-refresh" ng-class="{'fa-spin': txLoading}"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="general-item-list scrollable">
                    <div class="item"  ng-repeat="t in latest_txs track by $index">
                    <div class="item-head">
                        <div class="truncate-txhash" style="float:left">
                          <a href="/tx/{{t.hash}}" class="link-orange">{{t.hash}}</a></strong>       
                        </div>
                        <div class="item-date todo-tasklist-date" style="float:left"><i class="fa fa-hourglass-o"></i>{{t.timestamp | timeDuration }} ago</div>
                    </div>
                    <div class="todo-tasklist-controls">
                      <span class="todo-tasklist-item-text truncate-addrhash"><strong>From</strong> <a href="/addr/{{t.from}}">{{t.from}}</a></span>
                      <span class="todo-tasklist-item-text truncate-addrhash"><strong>To</strong> <a href="/addr/{{t.to}}">{{t.to}}</a></span><br>
                      <div class="todo-tasklist-item-text" style="margin-top:4px;">{{t.value}} {{settings.symbol}}</div>
                    </div>
                </div>

            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>

<div class="col-md-12 col-sm-12">
    * Last 600,000 blocks </br>
    ** Last 6,640 blocks
</div>
