<div class="row" style="margin-top:10px;margin-bottom:10px;">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <small>Block Height</small>
                    <h3>
                    <div class="icon">
                        <i class="fas fa-cubes"></i>
                    </div>
                    <small>#</small>
                        <span data-counter="counterup" data-value="stats.blockHeight" class="font-green-title">{{stats.blockHeight | number: 0 }}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2">
            <div class="display">
                <div class="number">
                    <small>Block Time</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-clock"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.blockTime" class="font-green-title">{{stats.blockTime | number: 2}} s</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <small>Network Hashrate</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-tachometer-alt-fastest"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.hashrate" class="font-green-title">{{stats.hashrate | totalDifficulty}}/s</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <small>Difficulty</small>
                    <h3>
                        <div class="icon">
                            <i class="fas fa-puzzle-piece"></i>
                        </div>
                        <span data-counter="counterup" data-value="stats.difficulty" class="font-green-title">{{stats.difficulty | totalDifficulty}}</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
